
.chaos {
  text-align: center; }

.chaos-letter {
  display: inline-block;
  background-color: transparent;
  font-weight: 100;
  padding-left: 2px;
  margin-left: -4px;
	min-width: .8ex;
  letter-spacing: 2px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .75s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: .75s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: .75s;
  animation-duration: 2s;
  animation-delay: .75s;
}

.chaos-letter:nth-child(3n-1) {
  -webkit-animation-duration: 1.3s;
  -webkit-animation-delay: .9s;
  -moz-animation-duration: 1.3s;
  -moz-animation-delay: .9s;
  -ms-animation-duration: 1.3s;
  -ms-animation-delay: .9s;
  animation-duration: 1.3s;
  animation-delay: .9s;
}

.chaos-letter:nth-child(12n) {
  -webkit-animation-duration: 3.2s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-duration: 3.2s;
  -moz-animation-delay: 1.1s;
  -ms-animation-duration: 3.2s;
  -ms-animation-delay: 1.1s;
  animation-duration: 3.2s;
  animation-delay: 1.1s;
}

.chaos-letter:nth-child(5n-5) {
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: 2.7s;
  -moz-animation-duration: .6s;
  -moz-animation-delay: 2.7s;
  -ms-animation-duration: .6s;
  -ms-animation-delay: 2.7s;
  animation-duration: .6s;
  animation-delay: 2.7s;
}

.chaos-letter:nth-child(9n) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.chaos .chaos-letter-28, .chaos-letter-4 {
  -webkit-animation-duration: .4s;
  -webkit-animation-delay: 2.2s;
  -moz-animation-duration: .4s;
  -moz-animation-delay: 2.2s;
  -ms-animation-duration: .4s;
  -ms-animation-delay: 2.2s;
  animation-duration: .4s;
  animation-delay: 2.2s;
}

.chaos-letter-19, .chaos-letter-1 {
  -webkit-animation-duration: 2.4s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-duration: 1.4s;
  -moz-animation-delay: 1.2s;
  -ms-animation-duration: 2.4s;
  -ms-animation-delay: 1.2s;
  animation-duration: 2.4s;
  animation-delay: 1.2s;

}
